{% include '../includes/header.html' %}
{% load static %}

<style>

    .login-panel{

        border:1px solid rgb(0,0,0,0.1);
        border-radius:5px;
        padding:5px;

    }

</style>
<br>
<div class="container">

    <div class="row justify-content-center">

        <div class="col-xs-12 col-sm-12 col-md-4 login-panel">
            <h1> Admin Login</h1>
            <br>
            <form action="" method="POST" class="form" role="form">
                {% csrf_token %}
                <input class="form-control emailControl" name="username" placeholder="Admin Username" type="text" />
                <br>
                <input class="form-control password1" name="password"  placeholder="Admin Password" type="password" />
                <br>
                <button class="btn btn-lg btn-primary btn-block submit" type="submit" >

                    Login</button>
            </form>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Email Already Exists!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Try Another Email
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block javascript %}
{% if no_match %}
<script>
          	$("#exampleModalLongTitle").text("Incorrect Credentials")
             $("#exampleModalCenter").modal('show');
			$(".modal-body").text("Incorrect Email or Password")



  </script>
{% endif %}
{% endblock %}


</body>
</html>