{% include './includes/header.html' %}
{% load static %}


    <!------ Include the above in your HEAD tag ---------->
    <style>

        .heading{

            text-align:center;
            color:white;
            background:rgba(0,0,0,.7);
            height:100px;
            padding-top:15px;
            padding-bottom:15px;
        }

        .panel{
            border:2px solid rgb(0,0,0,0.1);
            border-radius:2px;
            padding:10px;
            text-align:justify;
        }

    </style>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="heading">

    <h1> About Us</h1>

</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="content">

                        <h2>We Make Real Estate Promotion Simple and Cost-Effective</h2>

                        <p>One of the biggest challenges for real estate professionals and clients nowadays is the rising cost of promotion.

                            On top of that, listing a property can be a tedious, time-consuming process involving numerous phone calls. Even buyers and renters have a hard time finding the right property in a myriad of choices. Algorithms have grown more sophisticated, yet more unreliable.

                            CEO David Pineda founded Invexterra in 2017 to change that. With his 3 years of experience in the real estate industry, David Pineda envisioned a digital platform that would make the promotion of real estate easier and less expensive, not only for the local and national market, but the international market as well.</p>
                        <h2>
                            Our Mission
                        </h2>

                        <p>Our mission is to make real estate promotion a simple and affordable process. We do that by providing a user-friendly platform that connects buyers, sellers, and renters to do business at a reasonable cost. Invexterra removes the confusing bells and whistles to streamline the listing process.

                        We place the needs of our clients first and foremost and work closely with each of them to devise the best strategy. We also closely follow the latest changes in the real estate market to keep users informed and help them make the best deals.
                        </p>

                        <h2>Our Values</h2>
                        <p>
                        At Invexterra, we have a set of core values we are deeply committed to.

                        First, simplicity is at the core of our philosophy. We strive to provide a user-friendly platform that caters to the needs of each type of user.

                        Moreover, we want our users to feel supported at all times. Creating a win-win situation in every deal. To that end, each of our team members works closely with agents, real estate companies, and clients to address their specific needs and help them reach their goals. We also follow a continuous learning process to adapt to the current real estate market.

                        We want our users to feel like esteemed partners, not a portfolio that yields a return on autopilot.
                        </p>

                        <h2>Why Choose Invexterra?</h2>
                        Small investment, large ROI. A common downside of real estate platforms is that agents must pay a lot to gain exposure amidst countless listings, creating a win-lose situation where the ROI shrinks due to a ballooning advertising budget.

                        At Invexterra, we do things differently. We are committed to keeping the cost of listing reasonable so that agents can achieve proper returns. Everyone using Invexterra benefits from a win-win outcome when doing business with each other.

                        We make the listing process simple and hassle-free. No gimmicks, complications, or extra costs. We keep the features that matter and avoid the fluff. You can quickly and easily list a property, search for properties in your area, or contact an agent.

                        Likewise, accuracy and transparency are key to making informed decisions. When browsing listings, you’ll find all the mandatory information related to every property (rooms, surface, type, etc.) along with a description, a mortgage calculator, reviews, the location, nearby services, and contact information.

                        Our platform is not limited to the local and national markets. Foreign buyers and investors can browse the properties listed on Invexterra, which constitutes an opportunity for property sellers and renters. With a global user base, the potential to strike deals is limitless.


                        <br>
                        Have a question? Let us know and we will be in touch.



                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="panel-title">Follow Us</h3>
                </div>
                <div class="panel-body">
                    <a class="btn btn-social-icon btn-bitbucket"><i class="fa fa-bitbucket fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-flickr"><i class="fa fa-flickr fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-foursquare"><i class="fa fa-foursquare fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-github"><i class="fa fa-github fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-tumblr"><i class="fa fa-tumblr fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-vk"><i class="fa fa-vk fa-lg"></i></a>
                </div>
        </div>
    </div>
</div>



</body>
</html>